USE [master]
GO
/****** Object:  Database [spor_salonu]    Script Date: 1.05.2026 14:05:26 ******/
CREATE DATABASE [spor_salonu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'spor_salonu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS05\MSSQL\DATA\spor_salonu.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'spor_salonu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS05\MSSQL\DATA\spor_salonu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [spor_salonu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [spor_salonu]
GO
/****** Object:  Table [dbo].[antrenorler]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[antrenorler](
	[antrenor_id] [int] IDENTITY(1,1) NOT NULL,
	[telefon] [nvarchar](15) NOT NULL,
	[uzmanlik_alani] [nvarchar](100) NOT NULL,
	[maas] [decimal](10, 2) NOT NULL,
	[baslama_tarihi] [date] NOT NULL,
	[antrenor_Adi] [nvarchar](50) NULL,
 CONSTRAINT [PK__antrenor__01D06942E7A63ABB] PRIMARY KEY CLUSTERED 
(
	[antrenor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dersler]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dersler](
	[dersID] [int] IDENTITY(1,1) NOT NULL,
	[dersAdi] [nvarchar](50) NOT NULL,
	[antrenorId] [int] NOT NULL,
	[kapasite] [int] NULL,
	[baslangic_saati] [time](7) NULL,
	[bitis_saati] [time](7) NULL,
	[gun] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[dersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ekipman_turleri]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ekipman_turleri](
	[ekipmanTuruID] [int] IDENTITY(1,1) NOT NULL,
	[turAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ekipmanTuruID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ekipmanlar]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ekipmanlar](
	[ekipmanID] [int] IDENTITY(1,1) NOT NULL,
	[ekipmanAdi] [nvarchar](100) NOT NULL,
	[alimTarihi] [date] NULL,
	[durum] [nvarchar](20) NOT NULL,
	[kategori] [int] NOT NULL,
	[sonBakimTarihi] [date] NULL,
 CONSTRAINT [PK__ekipmanl__C5434131727ED4C0] PRIMARY KEY CLUSTERED 
(
	[ekipmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gelisim]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gelisim](
	[gelisim_id] [int] IDENTITY(1,1) NOT NULL,
	[uyeID] [int] NOT NULL,
	[kilo] [decimal](5, 2) NULL,
	[yag_orani] [decimal](4, 2) NULL,
	[kas_kutlesi] [decimal](5, 2) NULL,
	[bel_olcusu] [int] NULL,
	[kol_olcusu] [int] NULL,
	[olcum_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[gelisim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giderler]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giderler](
	[giderID] [int] IDENTITY(1,1) NOT NULL,
	[giderBaslik] [nvarchar](100) NULL,
	[kategori] [nvarchar](50) NULL,
	[miktar] [decimal](10, 2) NULL,
	[tarih] [date] NULL,
	[aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[giderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[girisCikisKayitlari]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[girisCikisKayitlari](
	[kayitID] [int] IDENTITY(1,1) NOT NULL,
	[uyeId] [int] NOT NULL,
	[giriszamani] [datetime] NULL,
	[cikiszamani] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[kayitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kasa]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kasa](
	[islemID] [int] IDENTITY(1,1) NOT NULL,
	[islemTarihi] [datetime] NULL,
	[islemTuru] [nvarchar](10) NOT NULL,
	[kategori] [nvarchar](50) NOT NULL,
	[miktar] [decimal](10, 2) NOT NULL,
	[aciklama] [nvarchar](250) NULL,
	[odemeYontemiID] [int] NULL,
	[uyeId] [int] NULL,
 CONSTRAINT [PK_kasa] PRIMARY KEY CLUSTERED 
(
	[islemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_adi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
	[rol] [nvarchar](50) NULL,
	[uyeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odeme_yontemleri]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odeme_yontemleri](
	[odemeYontemiID] [int] IDENTITY(1,1) NOT NULL,
	[yontemAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[odemeYontemiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odemeler]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odemeler](
	[odemeID] [int] IDENTITY(1,1) NOT NULL,
	[uyeID] [int] NOT NULL,
	[odemeTarihi] [datetime] NULL,
	[miktar] [decimal](10, 2) NOT NULL,
	[odemeTuru] [nvarchar](20) NULL,
	[aciklama] [nvarchar](50) NULL,
	[odemeYontemiID] [int] NULL,
 CONSTRAINT [PK__odemeler__BD94AC76821B3FD5] PRIMARY KEY CLUSTERED 
(
	[odemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sistem_ayarlari]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sistem_ayarlari](
	[ayar_anahtari] [nvarchar](50) NOT NULL,
	[ayar_degeri] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ayar_anahtari] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stoklar]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stoklar](
	[urunID] [int] IDENTITY(1,1) NOT NULL,
	[urunAd] [nvarchar](100) NULL,
	[kategori] [nvarchar](50) NULL,
	[stokAdedi] [int] NULL,
	[alisFiyati] [decimal](10, 2) NULL,
	[satisFiyati] [decimal](10, 2) NULL,
	[kritikSeviye] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[urunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uye_Antrenor]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uye_Antrenor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uyeID] [int] NOT NULL,
	[antrenorId] [int] NOT NULL,
	[baslangicTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uyeDers]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uyeDers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uyeID] [int] NOT NULL,
	[dersID] [int] NOT NULL,
	[katilimTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uyeler]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uyeler](
	[uyeID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](15) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[dogumTarihi] [date] NOT NULL,
	[cinsiyet] [nvarchar](10) NOT NULL,
	[kayitTarihi] [date] NOT NULL,
	[uyelikTipiID] [int] NOT NULL,
	[uyelikBitisTarihi] [date] NULL,
	[boy] [int] NOT NULL,
	[kilo] [decimal](18, 0) NOT NULL,
	[saglik_notu] [nvarchar](100) NULL,
	[durum] [nvarchar](10) NULL,
	[toplamBorc] [decimal](10, 2) NULL,
 CONSTRAINT [PK__uyeler__7C816F5E717C668C] PRIMARY KEY CLUSTERED 
(
	[uyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uyelik_tipleri]    Script Date: 1.05.2026 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uyelik_tipleri](
	[uyeliktipiID] [int] IDENTITY(1,1) NOT NULL,
	[tipAdi] [nvarchar](50) NOT NULL,
	[sureGun] [int] NOT NULL,
	[fiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[uyeliktipiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[antrenorler] ON 

INSERT [dbo].[antrenorler] ([antrenor_id], [telefon], [uzmanlik_alani], [maas], [baslama_tarihi], [antrenor_Adi]) VALUES (1, N'78945612321', N'Fitness', CAST(25000.00 AS Decimal(10, 2)), CAST(N'2020-10-15' AS Date), N'ahmet mehmet')
INSERT [dbo].[antrenorler] ([antrenor_id], [telefon], [uzmanlik_alani], [maas], [baslama_tarihi], [antrenor_Adi]) VALUES (2, N'5551112233', N'Fitness', CAST(25000.00 AS Decimal(10, 2)), CAST(N'2026-02-25' AS Date), N'Ahmet Yılmaz')
INSERT [dbo].[antrenorler] ([antrenor_id], [telefon], [uzmanlik_alani], [maas], [baslama_tarihi], [antrenor_Adi]) VALUES (3, N'5552223344', N'Pilates', CAST(22000.00 AS Decimal(10, 2)), CAST(N'2026-02-25' AS Date), N'Mehmet Kara')
SET IDENTITY_INSERT [dbo].[antrenorler] OFF
GO
SET IDENTITY_INSERT [dbo].[dersler] ON 

INSERT [dbo].[dersler] ([dersID], [dersAdi], [antrenorId], [kapasite], [baslangic_saati], [bitis_saati], [gun]) VALUES (1, N'Pilates', 2, 15, CAST(N'10:30:00' AS Time), CAST(N'12:00:00' AS Time), N'Pazartesi')
INSERT [dbo].[dersler] ([dersID], [dersAdi], [antrenorId], [kapasite], [baslangic_saati], [bitis_saati], [gun]) VALUES (2, N'Crossfit', 1, 12, CAST(N'10:00:00' AS Time), CAST(N'11:30:00' AS Time), N'Salı')
INSERT [dbo].[dersler] ([dersID], [dersAdi], [antrenorId], [kapasite], [baslangic_saati], [bitis_saati], [gun]) VALUES (3, N'Fitness Başlangıç', 1, 20, CAST(N'12:00:00' AS Time), CAST(N'14:00:00' AS Time), N'Çarşamba')
SET IDENTITY_INSERT [dbo].[dersler] OFF
GO
SET IDENTITY_INSERT [dbo].[ekipman_turleri] ON 

INSERT [dbo].[ekipman_turleri] ([ekipmanTuruID], [turAdi]) VALUES (1, N'deneme')
INSERT [dbo].[ekipman_turleri] ([ekipmanTuruID], [turAdi]) VALUES (4, N'Kardiyo')
INSERT [dbo].[ekipman_turleri] ([ekipmanTuruID], [turAdi]) VALUES (5, N'Ağırlık')
SET IDENTITY_INSERT [dbo].[ekipman_turleri] OFF
GO
SET IDENTITY_INSERT [dbo].[ekipmanlar] ON 

INSERT [dbo].[ekipmanlar] ([ekipmanID], [ekipmanAdi], [alimTarihi], [durum], [kategori], [sonBakimTarihi]) VALUES (2, N'Koşu Bandı', CAST(N'2023-10-15' AS Date), N'aktif', 4, NULL)
INSERT [dbo].[ekipmanlar] ([ekipmanID], [ekipmanAdi], [alimTarihi], [durum], [kategori], [sonBakimTarihi]) VALUES (3, N'Koşu Bandı', CAST(N'2026-02-25' AS Date), N'Arızalı', 4, NULL)
INSERT [dbo].[ekipmanlar] ([ekipmanID], [ekipmanAdi], [alimTarihi], [durum], [kategori], [sonBakimTarihi]) VALUES (4, N'Kondisyon Bisikleti', CAST(N'2026-02-25' AS Date), N'Bakımda', 4, NULL)
SET IDENTITY_INSERT [dbo].[ekipmanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[giderler] ON 

INSERT [dbo].[giderler] ([giderID], [giderBaslik], [kategori], [miktar], [tarih], [aciklama]) VALUES (1, N'Mart Ayı Kirası', N'Kira', CAST(25000.00 AS Decimal(10, 2)), CAST(N'2026-03-26' AS Date), N'Merkez şube')
INSERT [dbo].[giderler] ([giderID], [giderBaslik], [kategori], [miktar], [tarih], [aciklama]) VALUES (2, N'Ocak Elektrik Faturası', N'Fatura', CAST(4250.50 AS Decimal(10, 2)), CAST(N'2026-01-15' AS Date), N'Kış tarifesi yüksek geldi')
INSERT [dbo].[giderler] ([giderID], [giderBaslik], [kategori], [miktar], [tarih], [aciklama]) VALUES (3, N'Şubat Elektrik Faturası', N'Fatura', CAST(3800.00 AS Decimal(10, 2)), CAST(N'2026-02-14' AS Date), N'Normal kullanım')
SET IDENTITY_INSERT [dbo].[giderler] OFF
GO
SET IDENTITY_INSERT [dbo].[girisCikisKayitlari] ON 

INSERT [dbo].[girisCikisKayitlari] ([kayitID], [uyeId], [giriszamani], [cikiszamani]) VALUES (1, 49, CAST(N'2026-02-21T17:17:13.957' AS DateTime), CAST(N'2026-02-21T19:11:13.957' AS DateTime))
INSERT [dbo].[girisCikisKayitlari] ([kayitID], [uyeId], [giriszamani], [cikiszamani]) VALUES (2, 95, CAST(N'2026-02-27T11:15:13.963' AS DateTime), NULL)
INSERT [dbo].[girisCikisKayitlari] ([kayitID], [uyeId], [giriszamani], [cikiszamani]) VALUES (3, 90, CAST(N'2026-02-20T10:58:13.967' AS DateTime), CAST(N'2026-02-20T12:38:13.967' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[girisCikisKayitlari] OFF
GO
SET IDENTITY_INSERT [dbo].[kasa] ON 

INSERT [dbo].[kasa] ([islemID], [islemTarihi], [islemTuru], [kategori], [miktar], [aciklama], [odemeYontemiID], [uyeId]) VALUES (1, CAST(N'2026-03-23T21:28:21.297' AS DateTime), N'Gelir', N'Üyelik', CAST(5000.00 AS Decimal(10, 2)), N'Aylık üyelik tahsilatları', NULL, NULL)
INSERT [dbo].[kasa] ([islemID], [islemTarihi], [islemTuru], [kategori], [miktar], [aciklama], [odemeYontemiID], [uyeId]) VALUES (2, CAST(N'2026-03-22T21:28:21.297' AS DateTime), N'Gelir', N'Üyelik', CAST(3000.00 AS Decimal(10, 2)), N'Yeni üye kaydı', NULL, NULL)
INSERT [dbo].[kasa] ([islemID], [islemTarihi], [islemTuru], [kategori], [miktar], [aciklama], [odemeYontemiID], [uyeId]) VALUES (3, CAST(N'2026-03-23T21:28:21.300' AS DateTime), N'Gider', N'Kira', CAST(4000.00 AS Decimal(10, 2)), N'Dükkan kira ödemesi', NULL, NULL)
SET IDENTITY_INSERT [dbo].[kasa] OFF
GO
SET IDENTITY_INSERT [dbo].[kullanicilar] ON 

INSERT [dbo].[kullanicilar] ([id], [kullanici_adi], [sifre], [rol], [uyeID]) VALUES (1, N'admin', N'1234', N'admin', NULL)
INSERT [dbo].[kullanicilar] ([id], [kullanici_adi], [sifre], [rol], [uyeID]) VALUES (2, N'deneme', N'1234', N'admin', NULL)
INSERT [dbo].[kullanicilar] ([id], [kullanici_adi], [sifre], [rol], [uyeID]) VALUES (245, N'elif.demir', N'05525682667', N'Üye', 1)
GO
SET IDENTITY_INSERT [dbo].[kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[odeme_yontemleri] ON 

INSERT [dbo].[odeme_yontemleri] ([odemeYontemiID], [yontemAdi]) VALUES (1, N'Nakit')
INSERT [dbo].[odeme_yontemleri] ([odemeYontemiID], [yontemAdi]) VALUES (2, N'Kart')
INSERT [dbo].[odeme_yontemleri] ([odemeYontemiID], [yontemAdi]) VALUES (3, N'Havale')
SET IDENTITY_INSERT [dbo].[odeme_yontemleri] OFF
GO
SET IDENTITY_INSERT [dbo].[odemeler] ON 

INSERT [dbo].[odemeler] ([odemeID], [uyeID], [odemeTarihi], [miktar], [odemeTuru], [aciklama], [odemeYontemiID]) VALUES (1, 87, CAST(N'2026-02-26T12:24:45.347' AS DateTime), CAST(4366.99 AS Decimal(10, 2)), N'Nakit', NULL, 1)
INSERT [dbo].[odemeler] ([odemeID], [uyeID], [odemeTarihi], [miktar], [odemeTuru], [aciklama], [odemeYontemiID]) VALUES (2, 15, CAST(N'2026-02-18T12:24:45.357' AS DateTime), CAST(73.19 AS Decimal(10, 2)), N'Kart', NULL, 2)
INSERT [dbo].[odemeler] ([odemeID], [uyeID], [odemeTarihi], [miktar], [odemeTuru], [aciklama], [odemeYontemiID]) VALUES (3, 40, CAST(N'2026-02-16T12:24:45.357' AS DateTime), CAST(88.38 AS Decimal(10, 2)), N'Havale', NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[odemeler] OFF
GO
INSERT [dbo].[sistem_ayarlari] ([ayar_anahtari], [ayar_degeri]) VALUES (N'HedefCiro', N'50000')
INSERT [dbo].[sistem_ayarlari] ([ayar_anahtari], [ayar_degeri]) VALUES (N'KritikStok', N'15')
GO
SET IDENTITY_INSERT [dbo].[stoklar] ON 

INSERT [dbo].[stoklar] ([urunID], [urunAd], [kategori], [stokAdedi], [alisFiyati], [satisFiyati], [kritikSeviye]) VALUES (1, N'Protein Bar', N'Atıştırmalık', 50, CAST(40.00 AS Decimal(10, 2)), CAST(75.00 AS Decimal(10, 2)), 10)
INSERT [dbo].[stoklar] ([urunID], [urunAd], [kategori], [stokAdedi], [alisFiyati], [satisFiyati], [kritikSeviye]) VALUES (2, N'Su 0.5L', N'İçecek', 19, CAST(5.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), 20)
INSERT [dbo].[stoklar] ([urunID], [urunAd], [kategori], [stokAdedi], [alisFiyati], [satisFiyati], [kritikSeviye]) VALUES (3, N'Whey Protein 2kg', N'Supplement', 15, CAST(1200.00 AS Decimal(10, 2)), CAST(1850.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[stoklar] OFF
GO
SET IDENTITY_INSERT [dbo].[uye_Antrenor] ON 

INSERT [dbo].[uye_Antrenor] ([id], [uyeID], [antrenorId], [baslangicTarihi]) VALUES (203, 84, 3, CAST(N'2026-01-05' AS Date))
INSERT [dbo].[uye_Antrenor] ([id], [uyeID], [antrenorId], [baslangicTarihi]) VALUES (204, 21, 16, CAST(N'2026-01-17' AS Date))
INSERT [dbo].[uye_Antrenor] ([id], [uyeID], [antrenorId], [baslangicTarihi]) VALUES (205, 67, 11, CAST(N'2026-02-09' AS Date))
GO
SET IDENTITY_INSERT [dbo].[uye_Antrenor] OFF
GO
SET IDENTITY_INSERT [dbo].[uyeDers] ON 

INSERT [dbo].[uyeDers] ([id], [uyeID], [dersID], [katilimTarihi]) VALUES (2, 83, 12, CAST(N'2026-02-26' AS Date))
INSERT [dbo].[uyeDers] ([id], [uyeID], [dersID], [katilimTarihi]) VALUES (3, 29, 20, CAST(N'2026-02-20' AS Date))
INSERT [dbo].[uyeDers] ([id], [uyeID], [dersID], [katilimTarihi]) VALUES (4, 57, 22, CAST(N'2026-02-12' AS Date))
SET IDENTITY_INSERT [dbo].[uyeDers] OFF
GO
SET IDENTITY_INSERT [dbo].[uyeler] ON 

INSERT [dbo].[uyeler] ([uyeID], [ad], [soyad], [telefon], [email], [dogumTarihi], [cinsiyet], [kayitTarihi], [uyelikTipiID], [uyelikBitisTarihi], [boy], [kilo], [saglik_notu], [durum], [toplamBorc]) VALUES (1, N'Elif', N'Demir', N'05525682667', N'elif505@test.com', CAST(N'1988-01-01' AS Date), N'Kadın', CAST(N'2026-02-25' AS Date), 4, CAST(N'2027-02-25' AS Date), 160, CAST(92 AS Decimal(18, 0)), N'None', N'Aktif', CAST(11252.93 AS Decimal(10, 2)))
INSERT [dbo].[uyeler] ([uyeID], [ad], [soyad], [telefon], [email], [dogumTarihi], [cinsiyet], [kayitTarihi], [uyelikTipiID], [uyelikBitisTarihi], [boy], [kilo], [saglik_notu], [durum], [toplamBorc]) VALUES (2, N'Ayşe', N'Arslan', N'05419498659', N'ayşe680@test.com', CAST(N'1984-01-01' AS Date), N'Kadın', CAST(N'2026-02-25' AS Date), 2, CAST(N'2027-02-25' AS Date), 186, CAST(101 AS Decimal(18, 0)), NULL, N'Aktif', CAST(9703.19 AS Decimal(10, 2)))
INSERT [dbo].[uyeler] ([uyeID], [ad], [soyad], [telefon], [email], [dogumTarihi], [cinsiyet], [kayitTarihi], [uyelikTipiID], [uyelikBitisTarihi], [boy], [kilo], [saglik_notu], [durum], [toplamBorc]) VALUES (3, N'Selin', N'Yılmaz', N'05474334930', N'selin512@test.com', CAST(N'1987-01-01' AS Date), N'Kadın', CAST(N'2026-02-25' AS Date), 4, CAST(N'2026-02-26' AS Date), 168, CAST(60 AS Decimal(18, 0)), NULL, N'Pasif', CAST(113.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[uyelik_tipleri] ON 

INSERT [dbo].[uyelik_tipleri] ([uyeliktipiID], [tipAdi], [sureGun], [fiyat]) VALUES (1, N'Aylık', 30, CAST(2000.00 AS Decimal(10, 2)))
INSERT [dbo].[uyelik_tipleri] ([uyeliktipiID], [tipAdi], [sureGun], [fiyat]) VALUES (2, N'Yıllık', 365, CAST(18000.00 AS Decimal(10, 2)))
INSERT [dbo].[uyelik_tipleri] ([uyeliktipiID], [tipAdi], [sureGun], [fiyat]) VALUES (3, N'Haftalık', 7, CAST(800.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[uyelik_tipleri] OFF
GO
/****** Object:  Index [UQ_UyeAntrenor]    Script Date: 1.05.2026 14:05:27 ******/
ALTER TABLE [dbo].[uye_Antrenor] ADD  CONSTRAINT [UQ_UyeAntrenor] UNIQUE NONCLUSTERED 
(
	[uyeID] ASC,
	[antrenorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UyeDers]    Script Date: 1.05.2026 14:05:27 ******/
ALTER TABLE [dbo].[uyeDers] ADD  CONSTRAINT [UQ_UyeDers] UNIQUE NONCLUSTERED 
(
	[uyeID] ASC,
	[dersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__uyeler__AB6E6164EC6A42B1]    Script Date: 1.05.2026 14:05:27 ******/
ALTER TABLE [dbo].[uyeler] ADD  CONSTRAINT [UQ__uyeler__AB6E6164EC6A42B1] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TipAdi]    Script Date: 1.05.2026 14:05:27 ******/
ALTER TABLE [dbo].[uyelik_tipleri] ADD  CONSTRAINT [UQ_TipAdi] UNIQUE NONCLUSTERED 
(
	[tipAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gelisim] ADD  DEFAULT (getdate()) FOR [olcum_tarihi]
GO
ALTER TABLE [dbo].[giderler] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[girisCikisKayitlari] ADD  DEFAULT (getdate()) FOR [cikiszamani]
GO
ALTER TABLE [dbo].[kasa] ADD  DEFAULT (getdate()) FOR [islemTarihi]
GO
ALTER TABLE [dbo].[odemeler] ADD  CONSTRAINT [DF__odemeler__odemeT__5629CD9C]  DEFAULT (getdate()) FOR [odemeTarihi]
GO
ALTER TABLE [dbo].[stoklar] ADD  DEFAULT ((0)) FOR [stokAdedi]
GO
ALTER TABLE [dbo].[stoklar] ADD  DEFAULT ((5)) FOR [kritikSeviye]
GO
ALTER TABLE [dbo].[uye_Antrenor] ADD  DEFAULT (getdate()) FOR [baslangicTarihi]
GO
ALTER TABLE [dbo].[uyeDers] ADD  DEFAULT (getdate()) FOR [katilimTarihi]
GO
ALTER TABLE [dbo].[uyeler] ADD  CONSTRAINT [DF__uyeler__kayitTar__52593CB8]  DEFAULT (getdate()) FOR [kayitTarihi]
GO
ALTER TABLE [dbo].[uyeler] ADD  DEFAULT ('Aktif') FOR [durum]
GO
ALTER TABLE [dbo].[uyeler] ADD  DEFAULT ((0)) FOR [toplamBorc]
GO
ALTER TABLE [dbo].[dersler]  WITH CHECK ADD  CONSTRAINT [FK__dersler__antreno__628FA481] FOREIGN KEY([antrenorId])
REFERENCES [dbo].[antrenorler] ([antrenor_id])
GO
ALTER TABLE [dbo].[dersler] CHECK CONSTRAINT [FK__dersler__antreno__628FA481]
GO
ALTER TABLE [dbo].[ekipmanlar]  WITH CHECK ADD  CONSTRAINT [FK_ekipmanlar_ekipman_turleri] FOREIGN KEY([kategori])
REFERENCES [dbo].[ekipman_turleri] ([ekipmanTuruID])
GO
ALTER TABLE [dbo].[ekipmanlar] CHECK CONSTRAINT [FK_ekipmanlar_ekipman_turleri]
GO
ALTER TABLE [dbo].[gelisim]  WITH CHECK ADD  CONSTRAINT [FK_Gelisim_Uye] FOREIGN KEY([uyeID])
REFERENCES [dbo].[uyeler] ([uyeID])
GO
ALTER TABLE [dbo].[gelisim] CHECK CONSTRAINT [FK_Gelisim_Uye]
GO
ALTER TABLE [dbo].[girisCikisKayitlari]  WITH CHECK ADD  CONSTRAINT [FK_girisCikis_Uye] FOREIGN KEY([uyeId])
REFERENCES [dbo].[uyeler] ([uyeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[girisCikisKayitlari] CHECK CONSTRAINT [FK_girisCikis_Uye]
GO
ALTER TABLE [dbo].[kasa]  WITH CHECK ADD  CONSTRAINT [FK_Kasa_Uye] FOREIGN KEY([uyeId])
REFERENCES [dbo].[uyeler] ([uyeID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[kasa] CHECK CONSTRAINT [FK_Kasa_Uye]
GO
ALTER TABLE [dbo].[kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Uye] FOREIGN KEY([uyeID])
REFERENCES [dbo].[uyeler] ([uyeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[kullanicilar] CHECK CONSTRAINT [FK_Kullanici_Uye]
GO
ALTER TABLE [dbo].[odemeler]  WITH CHECK ADD  CONSTRAINT [FK__odemeler__uyeID__59063A47] FOREIGN KEY([uyeID])
REFERENCES [dbo].[uyeler] ([uyeID])
GO
ALTER TABLE [dbo].[odemeler] CHECK CONSTRAINT [FK__odemeler__uyeID__59063A47]
GO
ALTER TABLE [dbo].[uye_Antrenor]  WITH CHECK ADD  CONSTRAINT [FK__uye_Antre__antre__5EBF139D] FOREIGN KEY([antrenorId])
REFERENCES [dbo].[antrenorler] ([antrenor_id])
GO
ALTER TABLE [dbo].[uye_Antrenor] CHECK CONSTRAINT [FK__uye_Antre__antre__5EBF139D]
GO
ALTER TABLE [dbo].[uye_Antrenor]  WITH CHECK ADD  CONSTRAINT [FK__uye_Antre__uyeID__5DCAEF64] FOREIGN KEY([uyeID])
REFERENCES [dbo].[uyeler] ([uyeID])
GO
ALTER TABLE [dbo].[uye_Antrenor] CHECK CONSTRAINT [FK__uye_Antre__uyeID__5DCAEF64]
GO
ALTER TABLE [dbo].[uyeDers]  WITH CHECK ADD FOREIGN KEY([dersID])
REFERENCES [dbo].[dersler] ([dersID])
GO
ALTER TABLE [dbo].[uyeDers]  WITH CHECK ADD  CONSTRAINT [FK__uyeDers__uyeID__6754599E] FOREIGN KEY([uyeID])
REFERENCES [dbo].[uyeler] ([uyeID])
GO
ALTER TABLE [dbo].[uyeDers] CHECK CONSTRAINT [FK__uyeDers__uyeID__6754599E]
GO
ALTER TABLE [dbo].[uyeler]  WITH CHECK ADD  CONSTRAINT [FK__uyeler__uyelikTi__534D60F1] FOREIGN KEY([uyelikTipiID])
REFERENCES [dbo].[uyelik_tipleri] ([uyeliktipiID])
GO
ALTER TABLE [dbo].[uyeler] CHECK CONSTRAINT [FK__uyeler__uyelikTi__534D60F1]
GO
ALTER TABLE [dbo].[dersler]  WITH CHECK ADD CHECK  (([kapasite]>(0)))
GO
ALTER TABLE [dbo].[ekipmanlar]  WITH CHECK ADD  CONSTRAINT [CK__ekipmanla__durum__6B24EA82] CHECK  (([durum]='Bakımda' OR [durum]='Arızalı' OR [durum]='Aktif'))
GO
ALTER TABLE [dbo].[ekipmanlar] CHECK CONSTRAINT [CK__ekipmanla__durum__6B24EA82]
GO
ALTER TABLE [dbo].[kasa]  WITH CHECK ADD  CONSTRAINT [CK_islemTuru] CHECK  (([islemTuru]='Gelir' OR [islemTuru]='Gider'))
GO
ALTER TABLE [dbo].[kasa] CHECK CONSTRAINT [CK_islemTuru]
GO
ALTER TABLE [dbo].[odemeler]  WITH CHECK ADD  CONSTRAINT [CK__odemeler__miktar__571DF1D5] CHECK  (([miktar]>(0)))
GO
ALTER TABLE [dbo].[odemeler] CHECK CONSTRAINT [CK__odemeler__miktar__571DF1D5]
GO
ALTER TABLE [dbo].[odemeler]  WITH CHECK ADD  CONSTRAINT [CK__odemeler__odemeT__5812160E] CHECK  (([OdemeTuru]='Havale' OR [OdemeTuru]='Kart' OR [OdemeTuru]='Nakit'))
GO
ALTER TABLE [dbo].[odemeler] CHECK CONSTRAINT [CK__odemeler__odemeT__5812160E]
GO
ALTER TABLE [dbo].[uyeler]  WITH CHECK ADD  CONSTRAINT [CK__uyeler__cinsiyet__5165187F] CHECK  (([cinsiyet]='Kadın' OR [cinsiyet]='Erkek'))
GO
ALTER TABLE [dbo].[uyeler] CHECK CONSTRAINT [CK__uyeler__cinsiyet__5165187F]
GO
ALTER TABLE [dbo].[uyelik_tipleri]  WITH CHECK ADD CHECK  (([fiyat]>(0)))
GO
ALTER TABLE [dbo].[uyelik_tipleri]  WITH CHECK ADD CHECK  (([sureGun]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_AntrenorEkle]    Script Date: 1.05.2026 14:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AntrenorEkle]
    @ad NVARCHAR(50),
    @soyad NVARCHAR(50),
    @uzmanlikAlani NVARCHAR(100),
    @telefon NVARCHAR(15),
    @maas DECIMAL(10,2) -- Maaş parametresi eklendi
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO antrenorler (ad, soyad, uzmanlik_alani, telefon, baslama_tarihi, maas)
    VALUES (@ad, @soyad, @uzmanlikAlani, @telefon, GETDATE(), @maas);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DersEkle]    Script Date: 1.05.2026 14:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DersEkle]
    @dersAdi NVARCHAR(100),
    @antrenorID INT,
    @gun NVARCHAR(20),
    @baslangic_saati TIME, -- TIME tipi saatler için daha doğrudur
    @bitis_saati TIME,
    @kapasite INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dersler (dersAdi, antrenorId, gun, baslangic_saati, bitis_saati, kapasite)
    VALUES (@dersAdi, @antrenorID, @gun, @baslangic_saati, @bitis_saati, @kapasite);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EkipmanTuruEkle]    Script Date: 1.05.2026 14:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_EkipmanTuruEkle]
    @turAdi NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    -- Eğer bu tür zaten varsa ekleme yapma (Mükerrer kaydı önler)
    IF NOT EXISTS (SELECT 1 FROM ekipman_turleri WHERE turAdi = @turAdi)
    BEGIN
        INSERT INTO ekipman_turleri (turAdi) VALUES (@turAdi);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeAl]    Script Date: 1.05.2026 14:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OdemeAl]
    @uyeID INT,
    @miktar DECIMAL(10,2),
    @odemeTarihi DATETIME,
    @odemeYontemiID INT,
    @odemeTuru NVARCHAR(20) -- Tablodaki kısıtlamaya uygun (Kart, Nakit, Havale)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO odemeler (uyeID, miktar, odemeTarihi, odemeYontemiID, odemeTuru)
    VALUES (@uyeID, @miktar, @odemeTarihi, @odemeYontemiID, @odemeTuru);
    
    UPDATE uyeler SET toplamBorc = toplamBorc - @miktar WHERE uyeID = @uyeID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UyeEkle]    Script Date: 1.05.2026 14:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UyeEkle]
    @ad NVARCHAR(50), 
    @soyad NVARCHAR(50), 
    @telefon NVARCHAR(15),
    @email NVARCHAR(100), 
    @dogumTarihi DATE, 
    @cinsiyet NVARCHAR(10),
    @uyelikTipiID INT, 
    @boy INT, 
    @kilo INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @yeniUyeID INT;
    DECLARE @paketFiyati DECIMAL(10,2);

    -- 1. Seçilen üyelik tipinin fiyatını bul
    SELECT @paketFiyati = fiyat 
    FROM uyelik_tipleri 
    WHERE uyeliktipiID = @uyelikTipiID;

    -- 2. Üyeyi toplamBorc bilgisiyle birlikte ekle
    INSERT INTO uyeler (
        ad, soyad, telefon, email, dogumTarihi, cinsiyet, 
        uyelikTipiID, boy, kilo, kayitTarihi, durum, toplamBorc
    )
    VALUES (
        @ad, @soyad, @telefon, @email, @dogumTarihi, @cinsiyet, 
        @uyelikTipiID, @boy, @kilo, GETDATE(), 'Aktif', @paketFiyati
    );

    -- Yeni eklenen üyenin ID'sini al
    SET @yeniUyeID = SCOPE_IDENTITY();

    -- 3. Kullanıcı hesabını otomatik oluştur
    INSERT INTO kullanicilar (kullanici_adi, sifre, rol, uyeID)
    VALUES (
        LOWER(REPLACE(@ad, ' ', '')) + '.' + LOWER(REPLACE(@soyad, ' ', '')), 
        @telefon, 
        'Üye', 
        @yeniUyeID
    );
END
GO
USE [master]
GO
